html
	head
		title= title
		link(rel='stylesheet', href='./style.css', type='text/css')
	body
		div
			p
				each val in words
					if val.word == '\n '
						p
					else
						font(color= val.color)= val.word
